/* 
 * index 
 */
.bottom
  height 100px
  width 100%
  position fixed
  left 0
  bottom 0

.re-sort
  &:after
    content ''
    clear both
    display block
    line-height 1
    height 0
    overflow hidden

  .unit-optional
    float left

  .btn-area
    float right

/*
 * ContentList
 */
.unit-list
  margin 100px auto 0
  width 500px
  position relative

.split-line
  border-bottom 1px solid #ccc

.sort
  min-height 10px

  .item
    padding 8px 12px

    &:global(.drag-start),
    &:global(.drag-ghost)
      .more
        display none

  .more
    float right